<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.ContentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.entity.Content">
        <id column="columnno" property="columnno" />
        <result column="stocknumber" property="stocknumber" />
        <result column="stockName" property="stockName" />
        <result column="specifications" property="specifications" />
        <result column="organizationName" property="organizationName" />
        <result column="quantity" property="quantity" />
        <result column="univalence" property="univalence" />
        <result column="money" property="money" />
        <result column="taxrate" property="taxrate" />
        <result column="tax" property="tax" />
        <result column="taxamount" property="taxamount" />
        <result column="nonequantity" property="nonequantity" />
        <result column="ordernumber" property="ordernumber" />
        <result column="journalizingremark" property="journalizingremark" />
        <result column="beiyon" property="beiyon" />
        <result column="beiyone" property="beiyone" />
        <result column="beiyons" property="beiyons" />
        <result column="beiyonf" property="beiyonf" />
        <result column="beiyonw" property="beiyonw" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        columnno, stocknumber, stockName, specifications, organizationName, quantity, univalence, money, taxrate, tax, taxamount, nonequantity, ordernumber, journalizingremark, beiyon, beiyone, beiyons, beiyonf, beiyonw
    </sql>

</mapper>
