<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.StockorderdetailsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.entity.Stockorderdetails">
        <id column="flag" property="flag" />
        <result column="serNO" property="serNO" />
        <result column="billNo" property="billNo" />
        <result column="prodID" property="prodID" />
        <result column="prodName" property="prodName" />
        <result column="prodSize" property="prodSize" />
        <result column="sQuantity" property="sQuantity" />
        <result column="oldPrice" property="oldPrice" />
        <result column="discount" property="discount" />
        <result column="sPrice" property="sPrice" />
        <result column="amount" property="amount" />
        <result column="taxRate" property="taxRate" />
        <result column="taxAmt" property="taxAmt" />
        <result column="vfTotal" property="vfTotal" />
        <result column="preInDate" property="preInDate" />
        <result column="qtyRemain" property="qtyRemain" />
        <result column="isGift" property="isGift" />
        <result column="fromNo" property="fromNo" />
        <result column="tranType" property="tranType" />
        <result column="itemRemark" property="itemRemark" />
        <result column="enables" property="enables" />
        <result column="safetyone" property="safetyone" />
        <result column="safetytwo" property="safetytwo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        flag, serNO, billNo, prodID, prodName, prodSize, sQuantity, oldPrice, discount, sPrice, amount, taxRate, taxAmt, vfTotal, preInDate, qtyRemain, isGift, fromNo, tranType, itemRemark, enables, safetyone, safetytwo
    </sql>

</mapper>
